.heart {
    background: red;
    width: 400px;
    height: 400PX;
    position: relative;
}

.one {
    background: green;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}